MONGO_URI=mongodb://tlc:tlc_exam@mongo:27017/tlc_audit?authSource=admin
MONGO_DATABASE=tlc_audit
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=6g
SPARK_LOCAL_DIRS=/workspace/data/tmp
PIPELINE_CONFIG=/workspace/config/pipeline.yaml
TLC_DOWNLOAD_WORKERS=2
